<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Upload</title>
</head>
<body>

    <form action="" method="post" enctype="multipart/form-data">
       upload: <input type="file" name="file">
        <input type="submit" name="upload">
    </form>

    <div class="am-form-group am-form-file">
        <button type="button" class="am-btn am-btn-danger am-btn-sm">
            <i class="am-icon-cloud-upload"></i> 选择要上传的文件
        </button>
        <input id="upload" type="file" name="file" accept="image/*;" capture="camera">
    </div>

    <script src="./js/h5_upload.js"></script>
</body>
</html>